.footer {
  background-color: #FCF5E5;
  padding: 60px 0;
  text-align: center;
}

.copyright {
  font-size: 14px;
  color: #777;
  font-family: "Poppins,", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}