.header {
  background-color: white;
  padding: 10px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  border: 1px;
}

.header__logo {
  width: 94px;
  height: 26px;
  object-fit: contain;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  letter-spacing: 0.2em;
}

